---
layout: default
title: Otros
permalink: /impacto/otros/
---

{% include impact_header.html highlight='all' %}
<div class="bg-container">
    <div class="bg hidden-sm hidden-xs"></div>
    <div class="container-fluid">
        <div class="row equal-height">
            <div id="dgm-sidebar" class="col-lg-2 col-md-2 hidden-sm hidden-xs">
                {% include sidebar.html highlight='others' section='impacto' %}
            </div>
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 posts-container">
                {% assign posts = site.posts | where: 'section', 'impacto' | where: 'category', 'otros' | where: 'published', true | sort: 'date' %}
                {% include posts_container.html posts=posts section='impacto' %}
            </div>
        </div>
    </div>
</div>