<div class="row equal-height">
    {% assign i = 0 %}
    {% for post in include.posts reversed %}
        {% assign i = i | plus: 1 %}
        <div class="gov-app-item col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="inner">
                <div class="row equal-height">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h5>{{ post.title }}</h5>
                        <p><i>{{ post.author }}</i></p>
                        <p>{{ post.content }}</p>
                        <div class="links-container">
                            {% if post.links.webLink %}
                                <a href="{{ post.links.webLink }}" target="_blank" class="app-links web" alt="Web">Web</a>
                            {% endif %}
                            {% if post.links.appleStore %}
                                <a href="{{ post.links.appleStore }}" target="_blank" class="app-links apple"></a>
                            {% endif %}
                            {% if post.links.appleStore %}
                                <a href="{{ post.links.playStore }}" target="_blank" class="app-links android"></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if i == 2 %}
            {% assign i = 0 %}
            </div>
            <div class="row equal-height">
        {% endif %}
    {% endfor %}
</div>
