<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <!-- Required by Chartbeat -->
    <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>

    <!-- Site required Polymer components -->
    <script src="{{ "bower_components/webcomponentsjs/webcomponents-lite.js" | prepend: site.baseurl | prepend: site.url }}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="shortcut icon" href="{{ "assets/img/favicon.ico" | prepend: site.baseurl | prepend: site.url }}">
    <link rel="import" href="{{ "bower_components/polymer/polymer.html" | prepend: site.baseurl | prepend: site.url }}">
    <link rel="import" href="{{ "bower_components/dgm-navbar/dgm-navbar.html" | prepend: site.baseurl | prepend: site.url }}">
    <link rel="import" href="{{ "bower_components/dgm-footer/dgm-footer.html" | prepend: site.baseurl | prepend: site.url }}">

    <!-- Used libraries -->
    <link rel="stylesheet" href="{{ "bower_components/bootstrap/dist/css/bootstrap.min.css" | prepend: site.baseurl | prepend: site.url }}">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl | prepend: site.url }}">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
</head>
