<section>
    <h5 class="hidden" aria-hidden="true">Compartir</h5>
    <div class="social-buttons">
        <div class="button-item fb">
            <div class="fb-like" data-href="{{ page.url | prepend: site.url }}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
        </div>
        <div class="button-item tw">
            <a href="https://twitter.com/share" class="twitter-share-button" data-via="DatosGobMx">Tweet</a>
        </div>
    </div>
</section>