<div class="tools-item {{ include.class }}">
    {% if include.class == 'first' %}
        <a class="text-center" href="{{ include.post.permalink }}"><img src="{{ "/assets/img/" | append: include.section | append: '/' | append: include.post.featured_img | prepend: site.baseurl | prepend: site.url }}"></a>
    {% else %}
        <a class="text-center" href="{{ include.post.permalink }}"><img src="{{ "/assets/img/" | append: include.section | append: '/' | append: include.post.grid_img | prepend: site.baseurl | prepend: site.url }}"></a>
    {% endif %}
    <div class="inner">
        <div class="row">
            {% if include.class == 'first' %}
                <div class="col-lg-1 col-md-1 col-sm-3 col-xs-3 icon-container">
            {% else %}
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 icon-container">
            {% endif %}
                    <span class="category-icon icon-{{ include.post.category }}"></span>
                </div>
            {% if include.class == 'first' %}
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 icon-container">
            {% else %}
                <div class="col-lg-19 col-md-10 col-sm-9 col-xs-9 icon-container">
            {% endif %}
                <a href="{{ include.post.permalink }}"><h5>{{ include.post.title }}</h5></a>
                <p><i>{{ include.post.author | truncatewords: 8 }}</i></p>
                <div class="links-container">
                    {% if include.post.links.web %}
                        <a href="{{ include.post.links.web }}" class="app-links web" alt="Web">Web</a>
                    {% else %}
                        {% if include.post.iframe_src %}
                            <a href="{{ include.post.iframe_src }}" class="app-links web" alt="Web">Web</a>
                        {% endif %}
                    {% endif %}
                    {% if include.post.links.appleStore %}
                        <a href="{{ include.post.links.appleStore }}" class="app-links apple"></a>
                    {% endif %}
                    {% if include.post.links.appleStore %}
                        <a href="{{ include.post.links.playStore }}" class="app-links android"></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>