---
layout: default
title: Herramientas
---

{% include apps_header.html highlight='all' %}
<div class="bg-container">
    <div class="bg hidden-sm hidden-xs"></div>
    <div class="container-fluid">
        <div class="row equal-height">
            <div id="dgm-sidebar" class="col-lg-2 col-md-2 hidden-sm hidden-xs">
                {% include sidebar.html highlight='all' section='herramientas' %}
            </div>
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 posts-container">
                {% assign featured = site.posts | where: 'section', 'herramientas' | where: 'featured', true | where: 'published', true | sort: 'date' %}
                {% assign posts = site.posts | where: 'section', 'herramientas' | where: 'featured', false | where: 'published', true | sort: 'date' %}
                {% include tools_container.html featured=featured posts=posts section='herramientas' %}
            </div>
        </div>
    </div>
</div>