---
layout: default
title: Cultura y Turismo
permalink: /tema/cultura-y-turismo/
---

{% include section_header.html image='culture' category='cultura-y-turismo' title='Datos Abiertos para aprovechar el potencial turístico y cultural de México.' icon="ic-culture-white" %}
{% include section_data.html category='cultura-y-turismo' %}
{% include section_posts.html section='herramientas' category='cultura-y-turismo' title='Herramientas' %}
{% include section_posts.html section='impacto' category='cultura-y-turismo' title='Impacto' %}
