---
layout: default
title: Desarrollo Sostenible
permalink: /tema/desarrollo-sostenible/
---

{% include section_header.html image='development' category='desarrollo-sostenible' title='Datos Abiertos para detonar el crecimiento sostenido y sustentable.' icon="ic-development-white" %}
{% include section_data.html category='desarrollo-sostenible' %}
{% include section_posts.html section='herramientas' category='desarrollo-sostenible' title='Herramientas' %}
{% include section_posts.html section='impacto' category='desarrollo-sostenible' title='Impacto' %}
