---
layout: default
title: Economía
permalink: /tema/economia/
---

{% include section_header.html image='economy' category='economia' title='Datos Abiertos para un México con mayor productividad, innovación y crecimiento de sectores estratégicos.' icon="ic-economy-white" %}
{% include section_data.html category='economia' %}
{% include section_posts.html section='herramientas' category='economia' title='Herramientas' %}
{% include section_posts.html section='impacto' category='economia' title='Impacto' %}
