---
layout: default
title: Educación
permalink: /tema/educacion/
---

{% include section_header.html image='education' category='educacion' title='Datos Abiertos para elevar la calidad de la enseñanza y promover la ciencia, tecnología e innovación.' icon="ic-education-white" %}
{% include section_data.html category='educacion' %}
{% include section_posts.html section='herramientas' category='educacion' title='Herramientas' %}
{% include section_posts.html section='impacto' category='educacion' title='Impacto' %}
