---
layout: default
title: Energía y Medio Ambiente
permalink: /tema/energia-y-medio-ambiente/
---

{% include section_header.html category='energia-y-medio-ambiente' title='Datos Abiertos para preservar y aprovechar nuestro patrimonio natural.' icon="ic-energy-white" %}
{% include section_data.html category='energia-y-medio-ambiente' %}
{% include section_posts.html section='herramientas' category='energia-y-medio-ambiente' title='Herramientas' %}
{% include section_posts.html section='impacto' category='energia-y-medio-ambiente' title='Impacto' %}
