---
layout: default
title: Finanzas y Contrataciones
permalink: /tema/finanzas-y-contrataciones/
---

{% include section_header.html category='finanzas-y-contrataciones' title='Datos Abiertos para la transparencia y rendición de cuentas.' icon="ic-finance-white" %}
{% include section_data.html category='finanzas-y-contrataciones' %}
{% include section_posts.html section='herramientas' category='finanzas-y-contrataciones' title='Herramientas' %}
{% include section_posts.html section='impacto' category='finanzas-y-contrataciones' title='Impacto' %}
