---
layout: default
title: Gobiernos Locales
permalink: /tema/gobiernos-locales/
---


{% include section_header.html category='gobiernos-locales' title='Datos Abiertos de estados y municipios que forman parte de la Red México Abierto.' icon="ic-government-white" %}
{% include section_data.html category='gobiernos-locales' %}
{% include section_posts.html section='herramientas' category='gobiernos-locales' title='Herramientas' %}
{% include section_posts.html section='impacto' category='gobiernos-locales' title='Impacto' %}
