---
layout: default
title: Infraestructura
permalink: /tema/infraestructura/
---

{% include section_header.html image='infrastructure' category='infraestructura' title='Datos Abiertos para el desarrollo de la infraestructura como pieza clave para incrementar la competitividad.' icon="ic-infrastructure-white" %}
{% include section_data.html category='infraestructura' %}
{% include section_posts.html section='herramientas' category='infraestructura' title='Herramientas' %}
{% include section_posts.html section='impacto' category='infraestructura' title='Impacto' %}
