---
layout: default
title: Seguridad y Justicia
permalink: /tema/seguridad-y-justicia/
---

{% include section_header.html image='security' category='seguridad-y-justicia' title='Datos Abiertos sobre orden, seguridad y justicia para un México en Paz.' icon="ic-security-white" %}
{% include section_data.html category='seguridad-y-justicia' %}
{% include section_posts.html section='herramientas' category='seguridad-y-justicia' title='Herramientas' %}
{% include section_posts.html section='impacto' category='seguridad-y-justicia' title='Impacto' %}
